
@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');




@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Impact';
  src: url('/fonts/impact.woff2') format('woff2'),
       url('/fonts/impact.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Changa', sans-serif; /* Apply Changa here globally */
}
